<nav class="sidebar">
    <div class="sidebar-top-wrapper">
        <div class="sidebar-top">
            <a href="#" class="logo_wrapper">
                <img src="assets/logo.png" alt="logo" class="logo-small" >
                <div class="hide sidebar.top_compan">
                    <span class="Company-name">
                        Mercedes
                    </span>
                    <span class="company-members">
                        6.3k Members
                    </span>
                </div>

            </a>
        </div>
        <button class="expand-btn" type="button">
    </div>
    <div class="search_wraper">

        <input
        type="text" placeholder="Search.."
        aria-labelledby="search-icon"
        >
    </div>
    <div class="sidebar-links sidebar--top">
        <ul>
            <li>
                <a href="#dashboard" title="Dashboard" class="tooltip">
                    <span class="link hide">Dashboard</span>
                    <span class="tooltip_Content">Dashboard</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="separator"></div>
    <div class="sidebar-links routes sidebar-links--gray">
        <ul>
            <li>
                <a href="#home" class="tooltip">
                    <span class="route__marker route__Marker--green"></span>
                    <span link hide>Home</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
